.navBar ol li {
    display: inline;
    margin-left: 10px;
    font-size: 42px;
    padding-top: 10px;
    
}

.navBar a {
    text-decoration: none;
    color: white;
}
.navBar{
    display: flex;
    justify-content:center;
}
nav{
    background-color: black;

}