.contact{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-wrap{
    background-color: white;
    width: 30%;
    height: 75%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

h2{
    color: black;
    font-size: 30px;
    text-align: center;
}

ul li {
    color: wheat;
    display: inline;
    margin-right: 5%;
}

