
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    border: solid 2px white;
    margin-left: 2%;
    margin-bottom: 2%;
}
.card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-image{
    max-height: 75%;

}

.card-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 0;
    contain: content;
}
.card-text p{
    color:white;
}
.card-text h3{
    color: white;
    text-decoration: underline;
}
.card-links a {
    color: white;
    text-decoration: none;
    margin-left: 50%;
    margin-bottom: 10%;
    font-size: 22px;
}

.card-links{
    display: flex;
    justify-content: center;
}
.card-links a:hover{
    text-decoration: underline;
}